{% load static %}
<!-- Sidebar do carrinho -->
<div id="cart-sidebar" class="sidebar">
    <h5><b style="font-size: 1.2rem;">Carrinho</b></h5>
    <a id="btn-icon" href="#" class="btn-continue">
        <i class="bi bi-arrow-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </i>
    </a>
    <hr style="margin-bottom: 0;">

    <div class="container container-cart" style="display: none;">
        <!-- Template vazio para um item de produto -->
        <a id="clear-cart" class="clear-cart-link" href="#">
            <i class="bi bi-cart-dash-fill" style="display: flex-inline;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z" />
                </svg>
            </i>
            <span class="clear-cart-text">LIMPAR CARRINHO</span>
        </a>


        <div id="product-template">

        </div>

        <div class="total" style="display: none;">
            <h5>Total</h5>
            <p id="totalAmount"><strong>R$ 0,00</strong></p>
            <br><br>
        </div>



    </div>
    <div style="display: none;" class="restant-cart">

        <a class="btn-buy btn btn-dark" href="{% url 'checkout' %}">FINALIZAR COMPRA</a>
        <a class="btn-continue" href="#">CONTINUE COMPRANDO</a>
        <br><br>
    </div>
    <div style="display: none; text-align: center;" class="restant-cart-2">

        <img width="20%" style="margin-top: 1.5rem;" src="{% static 'store/img/empty-cart.png' %}" alt="carrinho-vazio"
            style="margin: 0 auto;">
        <h5 style="margin-bottom: 2rem; font-size: 1rem;">Carrinho Vazio</h5>
        <a class="btn-buy btn btn-dark btn-fechar" href="#">FECHAR</a>
    </div>



</div>